In [1]:
import uniseg
import uniseg.wordbreak

In [2]:
def words(text):
    return [x for x in uniseg.wordbreak.words(text)]

In [3]:
texts = [
"I'm ok. but I still don't know who's my boy.",
"This is Zhanliang's book. the boys' books.",
"自建房2樓3室2廳1衛1廚92.00㎡戶型圖，2,123km到北京",
"自建房2樓3室2廳1衛1廚92.00㎡戶型圖，92km到北京",
"自建房2樓3室2廳1衛1廚92.00㎡戶型圖，+92.54km到北京",
"山西省煤炭地质１４８勘查院煤层气工程处",
"北京ทันทุกเหตุการ有限公司",
"23:45:31.965.805",
"23:45:31.965.805cm",
"pada 2018-06-30 23:45:31.965805 +7:00. Saldo",
"2008-09-15T15:53:00 +04:30",
]

In [4]:
for text in texts:
    print(words(text))

["I'm", ' ', 'ok', '.', ' ', 'but', ' ', 'I', ' ', 'still', ' ', "don't", ' ', 'know', ' ', "who's", ' ', 'my', ' ', 'boy', '.']
['This', ' ', 'is', ' ', "Zhanliang's", ' ', 'book', '.', ' ', 'the', ' ', 'boys', "'", ' ', 'books', '.']
['自', '建', '房', '2', '樓', '3', '室', '2', '廳', '1', '衛', '1', '廚', '92.00', '㎡', '戶', '型', '圖', '，', '2,123km', '到', '北', '京']
['自', '建', '房', '2', '樓', '3', '室', '2', '廳', '1', '衛', '1', '廚', '92.00', '㎡', '戶', '型', '圖', '，', '92km', '到', '北', '京']
['自', '建', '房', '2', '樓', '3', '室', '2', '廳', '1', '衛', '1', '廚', '92.00', '㎡', '戶', '型', '圖', '，', '+', '92.54km', '到', '北', '京']
['山', '西', '省', '煤', '炭', '地', '质', '１', '４', '８', '勘', '查', '院', '煤', '层', '气', '工', '程', '处']
['北', '京', 'ทั', 'น', 'ทุ', 'ก', 'เ', 'ห', 'ตุ', 'ก', 'า', 'ร', '有', '限', '公', '司']
['23', ':', '45', ':', '31.965.805']
['23', ':', '45', ':', '31.965.805cm']
['pada', ' ', '2018', '-', '06', '-', '30', ' ', '23', ':', '45', ':', '31.965805', ' ', '+', '7', ':', '00', '.', ' ', 'Saldo']
['2008', '-', '09', '-', '15T15', ':', '53', ':', '00', ' ', '+', '04', ':', '30']